
/* Селекторы 
 -универсальные      *    
 -тег                p
 - ID                #id
 -class              .class
 -Селектор атрибута  [hrev]
 -Ребенка            .header > a
 -Потомка            .header a
     */

:root {
    --header-text-color: #FFFFFF;
    --title-color-main: #FFFFFF;
    --title-color-second: #303030;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}

address {
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
}
img {
    display: block;
}

.list {
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    outline: 2px solid tomato;
}
.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.title {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}
.after-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}
.btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}
.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

/* HEADER */
.header {
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-list {
    display: flex;
    column-gap: 30px;
}

.header .container {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: 130px;
}
.header-contact {
    margin-left: auto;
}

.link {
    text-decoration: none;
    background-color: rgb(87, 76, 76);
}
.header-item,
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
}
.header-item:hover, .header-tel:hover,
.header-item:focus, .header-tel:focus {
    color: #FF6C00;
}
/* .header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
} */
.header-btn {
    color: var(--header-text-color);
    margin-left: 30px;
    min-width: 160px;
    height: 40px;
    border-radius: 25px;
    background-color: transparent;
    border-color: rgba(255, 108, 0, 1)
;
}

/* HERO */
.hero {
    
}
.hero .container {
    display: flex;
}
.hero-content {
    background-color: rgb(99, 83, 83);
    padding: 272px 100px 206px 100px;
    flex-grow: 1;
}
.hero-list {
    width: 100px;
}
.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
    transform: rotate(-90deg);
}
.hero-link:hover,
.hero-link:focus {
    color: #FF6C00;
}
.hero-pre-title {    
    margin-bottom: 20px;

    color: rgba(157, 164, 189, 0.6); 
}
.hero-title {
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--title-color-main);
}
.hero-after-title {
    max-width: 360px;
    color: #9DA4BD;
}

/* ABOUT Делать самому */

.about-list {
    display: flex;
    column-gap: 30px;
}
.about .container {
    display: flex;
    column-gap: 30px;

}
.about-content {
    max-width: 470px;
}


.about-pre-title {
    margin-bottom: 20px;

    color: var(--title-color-second);
}
.about-title {
    margin-bottom: 20px;

    color: var(--title-color-second);
}
.about-after-title {
    margin-bottom: 40px;

    color: #555555;
}
.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
}
.about-btn {  
    color: #303030;
}
/* PRICES Делать самому */

.prices-wrap {
    display: flex;
    justify-content: space-between;
}


.prices-pre-title {
    margin-bottom: 20px;

    color: rgba(157, 164, 189, 0.6);
}
.prices-title {
    margin-bottom: 44px;

    color: var(--title-color-main);

    background-color: rgb(82, 76, 76);
}
.prices-list {
    border: 1px solid #FFFFFF;
    padding: 30px 40px;
    width: calc(50% - 15px);
}
.prices-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.prices-item:not(:last-child) {
    margin-bottom: 20px;
}
.prices-list-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}
.prices-btn {
    color: var(--header-text-color);
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

/* ADVANTAGES Делать самому */
.advantages {
    padding-top: 121px;
}
.advantages-item {

}

.advantages-item span {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;

    color: #303030;
}
.advantages-item sup {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #FF6C00;
}
.advantages-list-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;

    color: #303030;
}
.advantages-pre-title {
    margin-bottom: 20px;

    color: var(--title-color-second);
}
.advantages-title {
    margin-bottom: 20px;
    color: var(--title-color-second)
}
.advantages-after-title {
    color:  #555555;;
}

/* BARBERS Делать самому */

.barbers-list {
    display: flex;
    gap: 30px;
}
.barbers-item {
    width: calc((100% - 60px) / 3);
}

.barbers-pre-title {
    color: var(--title-color-second);
}
.barbers-title {
    color: var(--title-color-second);
}
.barbers-item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color-second);
}
.barbers-list-text {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF6C00;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} 

/* GALLERY Делать самому */
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.gallery-item {
    width: calc((100% - 90p) / 4);
}

.galery-pre-title {
    color: var(--title-color-second);
    margin-bottom: 44px;
}

/* BOOKING Делать самому */

.booking-title {
    color: var(--title-color-main);
    background-color: rgb(59, 55, 55);
}

/* CONTACTS Делать самому */

.contacts-title {
    color: var(--title-color-main);
    background-color: #555555;
}
.contacts-address-street {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}
.contacts-tel,
.contacts-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}
.contacts-mail {
    text-decoration-line: underline;
}
.contacts-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.37;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--header-text-color);
}
.contacts-worktime {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}